<head>
    <link rel="stylesheet" href="../../src/css/components/header.css">
</head>
<header>
    <a href="index.html" class="logo">Learn.js</a>
    <nav class="nav-links">
        <a href="lessons.html">Learn</a>
        <a href="quizzes.html">Quizzes</a>
        <a href="playground.html">Playground</a>
    </nav>
    <div class="nav-dropdown">
        <select onchange="if(this.value) window.location.href=this.value;">
            <option value="">Menu</option>
            <option value="lessons.html">Learn</option>
            <option value="quizzes.html">Quizzes</option>
            <option value="playground.html">Playground</option>
        </select>
    </div>
</header>
<script src="../../src/js/components/header.js"></script>