@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap'); 
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap');

:root {
    --font-montserrat: 'Montserrat', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-fira-code: 'Fira Code', monospace;

    --color-primary: #f6de1f;
    --color-secondary: #fffdf5;
}

html, body {
    background: url(/img/main-bg.png);
    /* background-color: var(--color-primary); */
    font-family: var(--font-inter);
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
}

p {
    padding: 0;
    margin: 0;
}

.banner {
    color: var(--color-secondary);
    background-color: #000;
    font: 14px var(--font-inter);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 36px;
}

header {
    background-color: var(--color-primary);
    border-bottom: 2px solid #000;
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.logo {
    color: var(--color-secondary);
    background-color: #000;
    font: 900 24px var(--font-montserrat);
    text-align: center;
    text-decoration: none;
    display: block;
    rotate: 1.5deg;
    margin-left: 48px;
}

nav {
    display: flex;
    align-items: center;
    font: 16px var(--font-inter);
    width: 100vw;
    height: 72px;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    gap: 48px;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links a:hover::before {
    content: "[";
}

.nav-links a:hover::after {
    content: "]";
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 36px - 72px);
}

/* main div {
    background-color: var(--color-secondary);
    border: 2px solid #000;
    padding: 10px 15px;
    margin: 5px 10px;
    width: 100%;
} */

h1 {
    color: #000;
    font: 900 72px var(--font-montserrat);
    font-style: italic;
}

span {
    color: var(--color-secondary);
    background-color: #000;
    text-align: center;
    display: block;
    rotate: 1.5deg;
}

.top-menu {
    background-color: #f6de1f;
    margin: 50px auto;
    position: fixed;
    z-index: 1;
}

footer {
    background-color: var(--color-primary);
    border-top: 2px solid #000;
    height: 100vh;
}