header {
    background-color: var(--color-primary);
    border-bottom: 2px solid #000;
    display: flex;
    gap: 48px;
    justify-content: center;
    align-items: center;
}

.logo {
    color: var(--color-secondary);
    background-color: #000;
    font: 900 24px var(--font-montserrat);
    text-align: center;
    text-decoration: none;
    display: block;
    rotate: 1.5deg;
    margin-left: 48px;
}

nav {
    display: flex;
    align-items: center;
    font: 16px var(--font-inter);
    width: 100vw;
    height: 72px;
    margin: 0;
    padding: 0;
}

.nav-links {
    display: flex;
    gap: 48px;
}

.nav-links a {
    color: #000;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-links a:hover {
    text-decoration: underline;
}

.nav-links a:hover::before {
    content: "[";
}

.nav-links a:hover::after {
    content: "]";
}

.nav-dropdown {
    display: none;
    margin-left: 2rem;
}

.nav-dropdown select {
    font-family: var(--font-inter), sans-serif;
    font-size: 1.1rem;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: 2px solid #000;
    background: #fff;
    color: #000;
    outline: none;
    box-shadow: none;
}

@media (max-width: 480px) {
    .nav-dropdown {
        display: block;
        margin-left: 2rem;
    }
}