@import url('global.css');

html, body {
    background: url("../../public/assets/main-bg.png");
    /* background-color: var(--color-primary); */
    font-family: var(--font-inter);
    box-sizing: border-box;
    height: 100%;
    padding: 0;
    margin: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

p {
    padding: 0;
    margin: 0;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 36px - 72px);
}

.span-container {
    background-color: var(--color-secondary);
    border: 2px solid #000;
    font: 900 72px var(--font-montserrat);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 70px 120px;
}

.span-1 {
    color: #000;
    font-style: italic;
    display: block;
}

.span-2 {
    color: var(--color-secondary);
    background-color: #000;
    font-style: italic;
    text-align: center;
    display: block;
    rotate: 1.5deg;
}

.top-menu {
    background-color: var(--color-primary);
    margin: 50px auto;
    position: fixed;
    z-index: 1;
}

footer {
    background-color: var(--color-primary);
    border-top: 2px solid #000;
    text-align: rightnm;
    height: 50vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.footer-left {
    display: flex;
}

.footer-left p {
    font: 900 5rem var(--font-montserrat);
    font-style: italic;
    background-color: var(--color-secondary);
    rotate: 1.5deg;
}

.footer-right {
    display: flex;
    flex-direction: column;
}

.footer-right p {
    font-weight: bold;
    margin: 8px 0;
}